<!DOCTYPE html>
<html>
	<head>
		<title>HackEgo edit: {{ target }}</title>
		<style type="text/css">
			.error { font-weight: bold; color: #800; }
			input.action { width: 10ex; }
			span.help { padding-left: 1em; }
		</style>
	</head>
	<body>
		<p>
			Ask HackEgo to fetch this file:
			<input type="text" value="{{ fetch_command }}" size="{{ fetch_command|length }}" readonly="yes">
		</p>
		<form action="{{ edit_url }}" method="post">
			<p>
				<textarea id="contents" name="contents" rows="25" cols="80">{{ contents }}</textarea><br>
				<input class="action" type="submit" name="save" value="Save">
				<span class="help">(save to make contents available for fetching)</span>
			</p>
		</form>
		<form action="{{ edit_url }}" method="post">
			<p>
				<input class="action" type="submit" name="sync" value="Sync">
				<span class="help">(<strong>discard</strong> any changes and get file contents from HackEgo)</span>
			</p>
		</form>
		{% for message in errors %}
		<p class="error">{{ message }}</p>
		{% endfor %}
		<hr>
		<p><strong>Instructions</strong></p>
		<p>This editor does not directly edit the HackEgo repository. Instead, it is essentially an editable pastebin with some built-in features useful for editing files on HackEgo.</p>
		<p>Initially, the text area will show the contents of the editor's copy of <strong>{{ target }}</strong>. This text can be retrieved from the address <strong>{{ get_url }}</strong>, so you can update the HackEgo repository to match by issuing the command <strong>{{ fetch_command }}</strong> (also available at top of the page). Press <q>Save</q> to update this copy with your edits.</p>
		<p>To modify an existing file, press <q>Sync</q> to update the editor's copy with the contents of the named file in the HackEgo repository. Please note that, if successful, this will overwrite any local changes the file may have. Once you have finished with your edits, save the changes and use the fetch command in IRC to copy data back to HackEgo.</p>
	</body>
</html>
