<!DOCTYPE html>
<html>
	<head>
		<title>HackEgo edit</title>
		<style type="text/css">
		</style>
	</head>
	<body>
		<p>Edited files:</p>
		<ul>
			{% for file in files %}
			<li><a href="{{ file.edit_url }}">{{ file.name }}</a></li>
			{% endfor %}
		</ul>
	</body>
</html>
